table td{
    text-align: left;
    vertical-align: top;
    width: 50%;
    overflow: scroll;
}

table{
    overflow: scroll;
    table-layout: auto;
    width: 100%;
}

.iframe_div{
    position: sticky;
}

