@font-face {
    font-family: Droid, serif;
    src: url(fonts/droidserif-regular.tff);
    font-weight: 700;
    font-style: normal;
}

* {font-family: Droid, serif;}

h1, h2, h3, h4 {color: #003694;}


a {color: blue;}